 <header>
        <nav>
            <a href="/" class="logo">
                <div class="logo-icon">A+</div>
                <div class="logo-text">
                    <span class="forma">ADS</span><span class="pro">IAM</span>
                </div>
            </a>
            <ul class="nav-links">
                <li><a href="./formations">Formations</a></li>
                <li><a href="#financements">Financements</a></li>
                <li><a href="#evenements">Événements</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="./contact" class="nav-cta active">Contact</a></li>
            </ul>
        </nav>
    </header>